# Python
__pycache__/
*.py[cod]
*.pyo


venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# Data
data/
datasets/
raw_data/
processed_data/
*.csv
*.tsv
*.json
*.parquet

outputs/
figures/
plots/
logs/
*.log


.vscode/
.idea/
.DS_Store
Thumbs.db
